// Plug in yoru Privy app id to get started
NEXT_PUBLIC_PRIVY_APP_ID=
// Signup on basescan.org and get a free API key
BASESCAN_API_KEY=
// Megapot Jackpot Contract address
NEXT_PUBLIC_CONTRACT_ADDRESS=0xbEDd4F2beBE9E3E636161E644759f3cbe3d51B95
// ERC20 Token address (e.g., USDC on Base)
NEXT_PUBLIC_ERC20_TOKEN_ADDRESS=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913